{% extends 'main/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block user %}
    {{user}},
{{ role }}
{% endblock %}
{% block content %}
    <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="container">
            <h1> Сформировать список</h1>
            <form action="{% url 'application_list' %}" method="get">
            {% csrf_token %}
                <p>Дата: <input required placeholder="Ваше имя"
 type="date" name="date"><br></p>
                <p>Консультант : <select name="FIO">
                    {% for el in employee %}
  <option value="{{ el.id }}">{{ el.username }}</option>
                    {% endfor %}
</select>
                    <br>
                </p>
                <button class="btn btn-primary" type="submit">Далее</button>
            </form>

        </div></main></body>
{% endblock %}