{% extends 'main/base.html' %}

{% block title %}
    {{ title}}
{% endblock %}

{% block content %}
     <body>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <h1>Помощь</h1>
        <ol>
            <li>Как создать запись ?</li><details>
<summary> Нажмите чтобы развернуть</summary>
Чтобы создать запись
</details>
            <li>Как создать список посещений ?</li><details>
<summary> Нажмите чтобы развернуть</summary>
Чтобы создать запись
</details>
            <li>Как провести анализ ?</li><details>
<summary> Нажмите чтобы развернуть</summary>
Чтобы создать запись
</details>
            <li>Как узнать расписание ?</li><details>
<summary> Нажмите чтобы развернуть</summary>
Чтобы создать запись
</details>
            <li>Как добавить время в расписание ?</li><details>
<summary> Нажмите чтобы развернуть</summary>
Чтобы создать запись
</details>
  </ol>
    </main>
     </body>

{% endblock %}